.App {
  text-align: center;
}


.playersInfo{
  margin: auto;
width: 80%;
margin-top: 50px;
margin-bottom: 50px;
    border: 3px solid #817f7f;
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;
    padding-top:3%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.playerInfo{
  height: 150px;
  width: 30%;
  box-shadow: 1px 1px #cbcbcb, -0.5em -0.2em 0.4em #cbcbcb;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}